.u-text-center {
  text-align: center !important;
}

.u-margin-top-small {
  margin-top: 1.6rem !important;
}

.u-margin-top-md {
  margin-top: 5.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 9rem;
}
